<div class="author">
    <h1 class="author__heading">Hi, I am Akash</h1>
    <p class="author__body">Web Developer and content creator</p>
</div>

<img src="/img/image-main.jpg" alt="person looking out through the window." class="hero-image" width="800" height="500">

<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&laquo; view Older Posts.</a>
</section>