<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Sign Up-Page</title>

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <!-- partial:index.partial.html -->

    <section>

      <!-- <form action="/login" method="post"> -->
      <div class="signin">
        <div class="content">
          <h2>Sign Up</h2>

          <form action="/signup" method="post">
            <div class="form">
              <div class="inputBox">
                <input
                  type="text"
                  id="username"
                  name="username"
                  required
                  autocomplete="off" />
                <i>Username</i>
              </div>
              <div class="form">
                <div class="inputBox">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    autocomplete="off" />
                  <i>email</i>
                </div>

                <div class="inputBox">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    autocomplete="off" />
                  <i>Password</i>
                </div>

                <div class="inputBox">
                  <input type="submit" value="Sing Up" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- </form> -->
      </section>
      <!-- partial -->
    </body>
  </html>
