<%-include('header')-%>

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          Login-Logout Systems <br />
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          A login system is a mechanism that allows users to access a computer
          system or an online service by providing credentials that prove their
          identity. The primary purpose of a login system is to ensure that only
          authorized individuals can access protected resources, such as
          applications, websites, or computer networks. Here are the key
          components and concepts associated with login systems: Username and
          Password: The most common form of login involves users providing a
          username and a password. The combination of these two serves as a form
          of authentication. Authentication: Authentication is the process of
          verifying the identity of a user, typically based on something the
          user knows (password), something the user has (security token or key),
          or something the user is (biometric data). Credentials: The
          information used for authentication, such as usernames and passwords,
          is referred to as credentials.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <img
                src="https://cdn.icon-icons.com/icons2/1508/PNG/72/cslogin_104358.png"
                alt=""
              />
              <p class="mb-4 opacity-70" style="color: hsl(218, 100%, 2%)">
               <%if (locals.Logout){%>
                <div class="alert alert-seccess text-center">Logout Successfully</div>
                <%}%>
              </p>
            </div>
            <form action="/route/login " method="post">
              <!-- 2 column grid layout with text inputs for the first and last names -->

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  name="email"
                />
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  name="password"
                />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value
                  id="form2Example33"
                  checked
                />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
            </form>
            <div class="d-flex align-items-center justify-content-center pb-4">
              <p class="mb-0 me-2">Don't have an account?</p>
              <button type="button" class="btn btn-outline-success">
                Create new
              </button>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, voluptate?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<%-include('footer')-%>
