<%-include('header')-%>

<div class="text-center center-div" id="login">
<div class="container w-25 border py-5">
    <div class="title">
        <div class="font-weight-bold">Login System</div>
        <span>Log in for the existing user</span>
    </div>
</div>
</div>

<%-include('footer')-%>
